.b1{
    font-style: italic;
    color: blue;
    font-size:100px;
    margin-top: none;
    margin-bottom:none;
    background-color: rgb(7, 7, 7);
    width: 1300px;
}
.b3{
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: solid;
    color: rgb(16, 16, 196);
    margin-left: 20px;
    margin-top: -10px;
}
.b4{
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: solid;
    font-weight: bolder;
    color:rgb(16, 16, 196);
    margin-left: 300px;
}
.l{
    font-size: 50px;
    font-weight: bolder;
    color: rgb(9, 8, 8);
    font-style: italic;
    width: 1000;
    
}
.l2{
    background-color: beige;
    color: rgb(8, 7, 7);
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200px;
    font-style: solid;
    opacity: 0.9;
}
.p12{
    color:rgb(16, 16, 196);
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: solid;
    font-weight: bold;
    margin-left: 400px; 

}
.m16{
    color: rgb(8, 6, 6);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: blue;
    font-size: 50px;
    padding: 10px;
    opacity: 0.8;
}
.g7{
    background-color:  beige;
    color: rgb(8, 7, 7);
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: solid;
    opacity: 0.9;
    margin-top: -47px;
    line-height: 30px;
}
.g20{
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 1000px;
    font-style: solid;
    font-language-override: normal;
    line-height: 20px;
}
tr{
    margin-bottom: 100px;
}
.p{
    margin-top: -10px;
}
.p1{
    margin-top: 30px;

}
.k5{
    margin-bottom: 10px;
}
.a3{
margin-left: 100px;
}
.d{
    background-color: white;
    color: rgba(0, 0, 0, 0.879);
    font-style: solid;
    font-size: larger;
    font-family:cursive;
    font-weight:bolder;
    opacity: 0.8;
}
.c{
    margin-left: 100px;
}
.un{
    margin-right: 98px;
}
.a1{
    color: rgba(0, 0, 0, 0.913);
    background-color: rgba(255, 255, 255, 0.947);
    font-style: italic;
    font-size: larger;
    font-family: fantasy;
    line-height: 30px;
}
.NIIT{
    color: rgba(20, 20, 244, 0.904);
    text-shadow: 10px;
    transition: opacity 0.15s;
    transition: box-shadow 0.15s;
    transition: background-color 0.15s,
    color 0.15;
    border-radius: 20px;
    width: 40px;
    height: 42px;
    margin-left: 4px;

}
.NIIT:hover{
    opacity: 0.7;
    cursor: grab;
    box-shadow:5px 5px 10px rgba(0 0 0 0.15) ;
    background-color: rgba(243, 11, 11, 0.836);
    

}
.NIIT:active{
    color: rgba(243, 11, 11, 0.836);
    background-color: rgba(20, 20, 244, 0.904);
    opacity: 0.6;
    font-style: solid;


}
.v{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
img{
    margin-top: -25px;
}
.w{
    margin-right: -350px;
}
body{
    width: 1250px;
}
span{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style:solid;
    color: blue;

}
